<!DOCTYPE html>
<html lang="en">
	<head>
		<title><%= htmlWebpackPlugin.options.title %> - Bloqcoin</title>
	</head>
	<body>
		<header id="hash-rate">
			<h1 class="hash-rate">Acquiring hash rate</h1>
			<p>Waiting for blocks</p>

			<p>Coin value:</p>
			<h2>&nbsp;</h2>

			<table class="reflow-table">
				<thead>
					<tr>
						<th>Block Height</th>
						<th>Message</th>
						<th>Difficulty</th>
						<th>Date</th>
					</tr>
				</thead>
				<tbody></tbody>
			</table>
		</header>
		
		<%= htmlWebpackPlugin.options.partial.footer %>
	</body>
</html>