<main>
	<div class="column">
		<div class="col-25">
			<a href="/status" class="button">Node Status</a>
		</div>
		<div class="col-25">
			<a href="/peers" class="button">Peers</a>
		</div>
		<div class="col-25">
			<a href="/blocks" class="button">Browse Blocks</a>
		</div>
	</div>
	<div class="column">
		<div class="col-25">
			<a href="/stats" class="button">Transaction Stats</a>
		</div>
		<div class="col-25">
			<a href="/mempool" class="button">Mempool Summary</a>
		</div>
		<div class="col-25">
			<a href="/unconfirmed" class="button">Unconfirmed Transactions</a>
		</div>
	</div>
</main>

<script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>