<main>
	<div class="column">
		<div class="col-25">
			<a href="/hash-rate" class="button">Hash Rate</a>
		</div>
		<div class="col-25">
			<a href="/peers" class="button">Peers</a>
		</div>
		<div class="col-25">
			<a href="/blocks" class="button">Browse Blocks</a>
		</div>
	</div>

	<hr />

	<a href="/pool" class="button">Stratum Mining Pool</a>
	<a href="/howto" class="button">How To Get Started</a>
</main>

<script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-2078248099290886" crossorigin="anonymous"></script>